@{
    ViewData["Title"] = "Flex Fields Example";
}

<div class="text-left" style="margin-top: 20px;">
    <div data-splitit="true"
        data-splitit-amount="@ViewBag.Amount"
        data-splitit-num-installments="3"
        data-splitit-type="banner-top">
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-2">
            <img data-splitit-placeholder="banner" data-splitit-banner="color:shop-splitit-pay-your-terms" width="160" />
        </div>
        <div class="col-md-8" style="padding-left: 20px;">
            <div class="splitit-default-ui grouped" id="splitit-container">
                <div class="splitit-cc-group">
                    <div id="card-number"></div>
                    <div id="expiration-date"></div>
                    <div id="cvv"></div>
                    <div class="splitit-cc-group-separator"></div>
                </div>

                <div id="installment-picker"></div>
                <div id="error-box"></div>
                <div id="terms-conditions"></div>
                <button id="btn-pay"></button>
            </div>
        </div>
        <div class="col-md-2">
            <img data-splitit-placeholder="banner" data-splitit-banner="white:use-cc-pay-over-time" width="160" />
        </div>
    </div>
    
</div>

@section Scripts {

    <link rel="stylesheet" type="text/css"
          href="@ViewBag.FlexFieldsUrlRoot/css/splitit.flex-fields.min.css?v=@(System.DateTime.Now.Ticks/1000000000)">
    <script src="@ViewBag.FlexFieldsUrlRoot/js/dist/splitit.flex-fields.sdk.js?v=@(System.DateTime.Now.Ticks/1000000000)">
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
        i['SplititObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '@ViewBag.UpstreamUrlRoot/v1/dist/upstream-messaging.js?v=' + (Math.ceil(new Date().getTime() / 100000)), 'splitit');
        splitit('init', { merchantid: '@ViewBag.UpstreamMerchantId', lang: 'en', currency: 'USD', currencySymbol: '$', debug: false });
    </script>

    <script>
    var flexFieldsInstance = Splitit.FlexFields.setup({
        container: "#splitit-container",
        publicToken: "@ViewBag.PublicToken",
        fields: {
            number: {
                selector: "#card-number"
            },
            cvv: {
                selector: "#cvv"
            },
            expirationDate: {
                selector: "#expiration-date"
            }
        },
        installmentPicker: {
            selector: "#installment-picker"
        },
        termsConditions: {
            selector: "#terms-conditions"
        },
        errorBox: {
            selector: "#error-box"
        },
        paymentButton: {
            selector: "#btn-pay"
        },
        billingAddress: {
            addressLine: "260 Madison Avenue.",
            addressLine2: "Appartment 1",
            city: "New York",
            state: "NY",
            country: "USA",
            zip: "10016"
        },
        consumerData: {
            fullName: "John Smith",
            email: "flexy.home@splitit.com",
            phoneNumber: "1-844-775-4848",
            cultureName: "en-us"
        }
    }).ready(function () {
        var splititFlexFields = this;
        splititFlexFields.show();
    }).onSuccess(function (result) {
        // Respond here if everything goes well.
        alert('Payment was successful! Check console for result details.');
        console.log(result);
    });

    </script>

}