@{
    Layout = "_Layout";
    ViewData["Title"] = "Splitit Flex Fields: Scenario examples";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
<div style="margin-bottom: 20px;">
    Upstream loads from: <a href="@(ViewBag.UpstreamUrlRoot)/v1/integration-wiki.html" target="_blank">@(ViewBag.UpstreamUrlRoot)/v1/integration-wiki.html</a> <br />
    Flex Fields loads from: <a href="@ViewBag.FlexFieldsUrlRoot" target="_blank">@ViewBag.FlexFieldsUrlRoot</a> <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Scenario
            </th>
            <th>
                Parameters
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Basic
            </td>
            <td>
                <form class="form-inline" asp-action="Basic" method="GET">
                    <label>Options</label>
                    <input type="text" class="form-control" placeholder="Num. options" value="5" name="options">
                    <label>Amount</label>
                    <input type="text" class="form-control" placeholder="Amount" value="400" name="amount">
                </form>
            </td>
            <td>
                <a class="btn btn-primary" onclick="$(this).closest('tr').find('form').submit();">Run</a>
            </td>
        </tr>
        <tr>
            <td>
                3D Secure
            </td>
            <td>
                <form class="form-inline" asp-action="Secure3D" method="GET">
                    <label>Options</label>
                    <input type="text" class="form-control" placeholder="Num. options" value="5" name="options">
                    <label>Amount</label>
                    <input type="text" class="form-control" placeholder="Amount" value="400" name="amount">
                </form>
            </td>
            <td>
                <a class="btn btn-primary" onclick="$(this).closest('tr').find('form').submit();">Run</a>
            </td>
        </tr>
        <tr>
            <td>
                AutoCapture flag
            </td>
            <td>
                <form class="form-inline" asp-action="AutoCapture" method="GET">
                    <label>Options</label>
                    <input type="text" class="form-control" placeholder="Num. options" value="5" name="options">
                    <label>Amount</label>
                    <input type="text" class="form-control" placeholder="Amount" value="400" name="amount">
                </form>
            </td>
            <td>
                <a class="btn btn-primary" onclick="$(this).closest('tr').find('form').submit();">Run</a>
            </td>
        </tr>
        <tr>
            <td>
                AJAX Public Token
            </td>
            <td>
                <form class="form-inline" asp-action="AjaxPublicToken" method="GET">
                    <label>Options</label>
                    <input type="text" class="form-control" placeholder="Num. options" value="5" name="options">
                    <label>Amount</label>
                    <input type="text" class="form-control" placeholder="Amount" value="400" name="amount">
                </form>
            </td>
            <td>
                <a class="btn btn-primary" onclick="$(this).closest('tr').find('form').submit();">Run</a>
            </td>
        </tr>
        <tr>
            <td>
                Deferred capture
            </td>
            <td>
                <form class="form-inline" asp-action="DeferredCapture" method="GET">
                    <label>Options</label>
                    <input type="text" style="max-width: 80px;" class="form-control" placeholder="Num. options" value="5" name="options">
                    <label>Amount</label>
                    <input type="text" style="max-width: 80px;" class="form-control" placeholder="Amount" value="400" name="amount">
                    <label>Delay (days)</label>
                    <input type="text" style="max-width: 80px;" class="form-control" placeholder="Delay" value="10" name="delayDays">
                    <label>Deposit</label>
                    <input type="text" style="max-width: 80px;" class="form-control" placeholder="First installment" value="200" name="firstInstallment">
                </form>
            </td>
            <td>
                <a class="btn btn-primary" onclick="$(this).closest('tr').find('form').submit();">Run</a>
            </td>
        </tr>
        <tr>
            <td>
                Cardholder Name
            </td>
            <td>
                <form class="form-inline" asp-action="CardholderName" method="GET">
                    <label>Options</label>
                    <input type="text" class="form-control" placeholder="Num. options" value="5" name="options">
                    <label>Amount</label>
                    <input type="text" class="form-control" placeholder="Amount" value="400" name="amount">
                </form>
            </td>
            <td>
                <a class="btn btn-primary" onclick="$(this).closest('tr').find('form').submit();">Run</a>
            </td>
        </tr>
        <tr>
            <td>
                Popup payment form
            </td>
            <td>
                <form class="form-inline" asp-action="EmbeddedPaymentForm" method="GET">
                    <label>Options</label>
                    <input type="text" class="form-control" placeholder="Num. options" value="5" name="options">
                    <label>Amount</label>
                    <input type="text" class="form-control" placeholder="Amount" value="400" name="amount">
                </form>
            </td>
            <td>
                <a class="btn btn-primary" onclick="$(this).closest('tr').find('form').submit();">Run</a>
            </td>
        </tr>
        <tr>
            <td>
                3D Secure (Iframe)
            </td>
            <td>
                <form class="form-inline" asp-action="Secure3DIframe" method="GET">
                    <label>Options</label>
                    <input type="text" class="form-control" placeholder="Num. options" value="5" name="options">
                    <label>Amount</label>
                    <input type="text" class="form-control" placeholder="Amount" value="400" name="amount">
                </form>
            </td>
            <td>
                <a class="btn btn-primary" onclick="$(this).closest('tr').find('form').submit();">Run</a>
            </td>
        </tr>
    </tbody>
</table>
